#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
br {
  display: block !important;
  visibility: visible !important;
}
/* Custom CSS file */
.text-left p {
  margin-top: 1em; /* Space above each paragraph */
  margin-bottom: 1em; /* Space below each paragraph */
}

.text-left ul {
  list-style-type: disc; /* Ensures bullet points are shown */
  padding-left: 1.5em; /* Adjust for appropriate indentation */
}
.text-left ol {
  list-style-type: decimal;
}
.text-left ol ol {
  list-style-type: lower-alpha; /* Or another type, like lower-alpha, etc. */
}
.text-left ul ul {
  list-style-type: circle; /* Different style for nested lists, if desired */
}

.text-left li {
  margin-bottom: 0.5em; /* Space between list items */
}
p {
  margin-bottom: 16px; /* Adjust the bottom margin to control space between paragraphs */
  /* Or use padding for internal spacing */
}
/* Unvisited links */
a:link {
  color: blue; /* Change to your preferred color */
  text-decoration: none; /* Removes underline, add if you prefer */
}

/* Visited links */
a:visited {
  color: purple; /* Change to your preferred color */
}

/* Mouse over links */
a:hover {
  color: red; /* Change to your preferred color */
  text-decoration: underline; /* Adds underline on hover */
}

/* Selected links */
a:active {
  color: yellow; /* Change to your preferred color */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
/* .iframe-container { */
/*   display: flex; /* Enables flexbox */
*/
/*   justify-content: center; /* Centers iframe horizontally */ */
/*   align-items: center; /* Centers iframe vertically */ */
/*   height: 100vh; /* Sets the container height to fill the viewport */ */
/* } */
/**/
/* iframe { */
/*   width: 100%; /* Makes the iframe's width flexible */ */
/*   height: 100%; /* Adjusts the iframe's height to fill the container */ */
/*   max-width: 600px; /* Optional: sets a max-width for the iframe */ */
/*   max-height: 400px; /* Optional: sets a max-height for the iframe */ */
/* } */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
